---
import BaseLayout from '@layouts/BaseLayout.astro'
import { buttonVariants } from '@components/ui/button'
---

<BaseLayout
  title="Seite nicht gefunden - Kulturverein Muri Gümligen."
  description="Seite nicht gefunden - Kulturverein Muri Gümligen."
>
  <div class="mt-32 flex flex-col items-center justify-center px-8">
    <p class="text-sm text-muted-foreground">404</p>
    <h1 class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl">
      Seite nicht gefunden
    </h1>
    <p class="mb-4 leading-7 [&:not(:first-child)]:mt-6">
      Entschuldigung, die Seite, die Sie suchen, existiert nicht.
    </p>
    <a href="/" rel="noreferrer" class={buttonVariants()}>Zurück</a>
  </div>
</BaseLayout>
