---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Über uns - Kulturverein Muri Gümligen."
  description="Über uns - Kulturverein Muri Gümligen."
>
  <section class="container grid items-center gap-6 py-12 md:py-20 lg:py-28">
    <div class="flex flex-col items-start gap-2 space-y-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-5xl"
      >
        Über den Kulturverein Muri Gümligen
      </h1>

      <h3 class="pt-2 text-xl font-bold">Sinn und Zweck</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Mit der Gründung des Kulturvereins wird im bereits vielfältigen
        Vereinsleben der Einwohnergemeinde Muri eine Lücke geschlossen. Der
        Kulturverein ist politisch und konfessionell unabhängig. Das kulturelle
        Leben in der Gemeinde wird – in enger Zusammenarbeit mit den zuständigen
        Gemeindekommissionen – gezielt gefördert und gepflegt. Dazu kommen
        regelmässig Kontakte zur Musikschule Muri-Gümligen, die sich positiv auf
        die Programmgestaltung auswirken. Mit sorgfältig ausgesuchten
        Veranstaltungen möchten wir das Kulturleben der Gemeinde bereichern,
        Kulturinteressierte direkt ansprechen und mit Neuem überraschen, aber
        auch “Kultureinsteigerinnen und -einsteiger” den Zugang zur
        faszinierenden Welt der Kultur erleichtern.
      </p>
      <h3 class="text-xl font-bold">Aktivitäten</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Der Kulturverein bietet vielseitige Veranstaltungen in den Bereichen
        Musik, Literatur, Theater, Kunst, Photographie und Film an. Er
        organisiert zudem Exkursionen und Städtereisen für Kulturinteressierte.
        Mit seinem abwechslungsreichen Angebot richtet er sich an seine
        Mitglieder und gleichzeitig an alle Kulturinteressierten. Das neue
        Kulturprogramm erscheint immer Ende des Jahres.
      </p>
    </div>
  </section>
</BaseLayout>
