---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Impressum"
  description="Impressum - Kulturverein Muri be Bern."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2 py-3">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Impressum
      </h1>

      <h3 class="text-xl font-bold">Adresse</h3>
      <p class="text-md pb-2 pt-1 text-muted-foreground">
        Kulturverein Muri Gümligen<br />
        Gemeindehaus<br />
        Thunstrasse 74 CH-3074 Muribei Bern
      </p>
      <p class="text-md pb-2 pt-1 text-muted-foreground">
        Ansprechperson: Katharina Stampfli, info[at]kulturverein-muri.ch
      </p>
      <h3 class="text-xl font-bold">Haftungsausschluss</h3>
      <p class="text-md pb-2 pt-1 text-muted-foreground">
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
        für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten
        sind ausschliesslich deren Betreiber verantwortlich.
      </p>
      <h3 class="text-xl font-bold">Urheberrecht-Hinweis</h3>
      <p class="text-md pb-2 pt-1 text-muted-foreground">
        Alle auf dieser Internetpräsenz verwendeten Texte, Fotos und grafischen
        Gestaltungen sind urheberrechtlich geschützt. Sollten Sie Teile hiervon
        verwenden wollen, wenden Sie sich bitte an den Seitenbetreiber. Er wird
        dann gegebenenfalls den Kontakt zum Urheber oder Nutzungsberechtigten
        herstellen.
      </p>
    </div>
  </section>
</BaseLayout>
