---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Impressum - Kulturverein Muri Gümligen."
  description="Impressum - Kulturverein Muri Gümligen."
>
  <section class="container grid items-center gap-6 py-12 md:py-20 lg:py-28">
    <div class="flex flex-col items-start gap-2 space-y-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-5xl"
      >
        Impressum
      </h1>

      <h3 class="pt-2 text-xl font-bold">Adresse</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Kulturverein Muri Gümligen<br />
        Gemeindehaus<br />
        Thunstrasse 74 CH-3074 Muri bei Bern
      </p>
      <p class="text-md pb-2 text-muted-foreground">
        Ansprechperson: Katharina Stampfli, info[at]kulturverein-muri.ch
      </p>
      <h3 class="text-xl font-bold">Haftungsausschluss</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
        für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten
        sind ausschliesslich deren Betreiber verantwortlich.
      </p>
      <h3 class="text-xl font-bold">Urheberrechtlicher Hinweis</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Alle auf dieser Internetpräsenz verwendeten Texte, Fotos und grafischen
        Gestaltungen sind urheberrechtlich geschützt. Sollten Sie Teile hiervon
        verwenden wollen, wenden Sie sich bitte an den Seitenbetreiber. Er wird
        dann gegebenenfalls den Kontakt zum Urheber oder Nutzungsberechtigten
        herstellen.
      </p>
    </div>
  </section>
</BaseLayout>
