---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Rechtliche Hinweise und Datenschutz - Kulturverein Muri Gümligen."
  description="Rechtliche Hinweise und Datenschutz - Kulturverein Muri Gümligen."
>
  <section class="container grid items-center gap-6 py-12 md:py-20 lg:py-28">
    <div class="flex flex-col items-start gap-2 space-y-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-5xl"
      >
        Rechtliche Hinweise und Datenschutz
      </h1>

      <h3 class="pt-2 text-xl font-bold">Vorwort</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Der Kulturverein Muri Gümligen nimmt den Schutz personenbezogener Daten
        sehr ernst. Der Schutz Ihrer Privatsphäre ist für uns von höchster
        Bedeutung, weshalb die Einhaltung der Bestimmungen des
        Datenschutzgesetzes für uns eine Selbstverständlichkeit ist.
      </p>
      <h3 class="pt-2 text-xl font-bold">Haftungsausschluss</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
        Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und
        Vollständigkeit der Informationen. Haftungsansprüche gegen den Autor
        wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff
        oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen,
        durch Missbrauch der Verbindung oder durch technische Störungen
        entstanden sind, werden ausgeschlossen. Alle Angebote sind
        unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der
        Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu
        verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise
        oder endgültig einzustellen.
      </p>
      <h3 class="pt-2 text-xl font-bold">Haftung für Links</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
        Verantwortungsbereichs Es wird jegliche Verantwortung für solche
        Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten
        erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
      </p>
      <h3 class="pt-2 text-xl font-bold">Copyright-Hinweis</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Alle auf dieser Internetpräsenz verwendeten Texte, Fotos und grafischen
        Gestaltungen sind urheberrechtlich geschützt. Sollten Sie Teile hiervon
        verwenden wollen, wenden Sie sich bitte an den Seitenbetreiber. Er wird
        dann gegebenenfalls den Kontakt zum Urheber oder Nutzungsberechtigten
        herstellen.
      </p>

      <h3 class="pt-2 text-xl font-bold">Datenschutz</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die
        datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG)
        hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz
        vor Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen
        ein. Persönliche Daten werden streng vertraulich behandelt und weder an
        Dritte verkauft noch weiter gegeben. In enger Zusammenarbeit mit unseren
        Hosting-Providern bemühen wir uns, die Datenbanken so gut wie möglich
        vor fremden Zugriffen, Verlusten, Missbrauch oder vor Fälschung zu
        schützen. Beim Zugriff auf unsere Webseiten werden folgende Daten in
        Logfiles gespeichert: IP-Adresse, Datum, Uhrzeit, Browser-Anfrage und
        allg. übertragene Informationen zum Betriebssystem resp. Browser. Diese
        Nutzungsdaten bilden die Basis für statistische, anonyme Auswertungen,
        so dass Trends erkennbar sind, anhand derer wir unsere Angebote
        entsprechend verbessern können.
      </p>
      <h3 class="pt-2 text-xl font-bold">Newsletter</h3>
      <p class="text-md pb-2 text-muted-foreground">
        MailChimp: MailChimp wird vom US-Anbieter Rocket Science Group, LLC, 675
        Ponce De Leon Ave NE Suite 5000, Atlanta, GA 30308, USA betrieben. Ihre
        Mailadresse sowie die weiteren Daten werden auf den Servern von
        MailChimp in den USA gespeichert. MailChimp verwendet diese
        Informationen zum Versand und zur Auswertung der Newsletter in unserem
        Auftrag. Des Weiteren kann MailChimp nach eigenen Informationen diese
        Daten zur Optimierung oder Verbesserung der eigenen Services nutzen,
        z.B. zur technischen Optimierung des Versandes und der Darstellung der
        Newsletter oder für wirtschaftliche Zwecke, um zu bestimmen aus welchen
        Ländern die Empfänger kommen. MailChimp nutzt die Daten jedoch nicht, um
        die Newsletter-Abonnenten selbst anzuschreiben oder an Dritte
        weiterzugeben. MailChimp ist für die Einhaltung des
        EU-US-Datenschutzschild-Abkommens sowie des Swiss-US Privacy Shield
        Abkommens zertifiziert. Die Datenschutzbestimmungen von MailChimp finden
        Sie hier Sie können Ihre Einwilligung zur Speicherung der Daten und zu
        deren Nutzung für den Newsletter-Versand jederzeit widerrufen, zum
        Beispiel über den Abmelde-Link Abmelden im Newsletter.
      </p>
      <h3 class="pt-2 text-xl font-bold">
        Unser Recht auf Änderung dieser Richtlinien
      </h3>
      <p class="text-md pb-2 text-muted-foreground">
        Der Kulturverein Muri Gümligen behält sich das Recht vor, diese
        Richtlinien jederzeit unter Beachtung der datenschutzrechtlichen
        Bestimmungen zu ändern.
      </p>
      <h3 class="pt-2 text-xl font-bold">Widerspruch / Auskunftsrecht</h3>
      <p class="text-md pb-2 text-muted-foreground">
        Sie haben jederzeit das Recht auf Auskunft über die gespeicherten
        personenbezogenen Daten, deren Herkunft und Empfänger sowie den Zweck
        der Datenverarbeitung. Wenn Sie Fragen hierzu haben, die Ihnen diese
        Datenschutzerklärung nicht beantworten konnte, können Sie sich jederzeit
        unter folgender E-Mail-Adresse an uns wenden:
        info[at]kulturverein-muri.ch
      </p>
    </div>
  </section>
</BaseLayout>
