---
import BaseLayout from '@/layouts/BaseLayout.astro'
import EventCard from '../components/EventCard.astro'
---

<BaseLayout
  title="Programm"
  description="Programm - Kulturverein Muri be Bern."
>
  <section class="w-full bg-muted/40 py-12 md:py-24 lg:py-32">
    <div class="container px-4 md:px-6">
      <div class="flex flex-col gap-4">
        <div class="space-y-2">
          <h2
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
          >
            Upcoming Events
          </h2>
          <p
            class="text-gray-500 dark:text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
          >
            Join us for live music and cultural experiences in your
            neighborhood.
          </p>
        </div>

        <EventCard title="The Sparklettes" date="12.12.2025" time="20:00" />
      </div>
    </div>
  </section>
</BaseLayout>
