<div class="mt-10">
  <h3 class="text-md/6 font-semibold">Verein</h3>
  <ul role="list" class="mt-6 space-y-2">
    <li>
      <a
        href="/past-events"
        class="text-sm/6 hover:underline hover:underline-offset-4"
        >Vergangene Anlässe</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="text-sm/6 hover:underline hover:underline-offset-4">Über uns</a
      >
    </li>
    <li>
      <a
        href="/contact"
        class="text-sm/6 hover:underline hover:underline-offset-4">Kontakt</a
      >
    </li>
    <li>
      <a
        href="/rss.xml"
        class="text-sm/6 hover:underline hover:underline-offset-4">RSS Feed</a
      >
    </li>
  </ul>
</div>
