<div class="mt-10">
  <h3 class="text-md/6 font-semibold">Verein</h3>
  <ul role="list" class="mt-6 space-y-3">
    <li>
      <a href="/about" class="text-sm/6">Über uns</a>
    </li>
    <li>
      <a href="/contact" class="text-sm/6">Kontakt</a>
    </li>
  </ul>
</div>
