---
import { Badge } from '@components/ui/badge'

const { prices } = Astro.props
---

<div class="flex items-center gap-1">
  {
    prices.length > 0 && (
      <>
        {prices.map((price: string) => (
          <Badge variant="outline">{price} CHF</Badge>
        ))}
      </>
    )
  }
</div>
