---
import EventCard from './event/EventCard.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
  events: CollectionEntry<'events'>[]
}

const { events } = Astro.props
---

<div class="grid gap-3 gap-y-4 md:grid-cols-2 lg:grid-cols-3">
  {events.map((event) => <EventCard event={event} />)}
</div>
