---
import AssociationGridItem from './AssociationGridItem.astro'
import LegalGridItem from './LegalGridItem.astro'
import NewsletterGridItem from './NewsletterGridItem.astro'
---

<footer class="border-t pt-3 pb-12">
  <div class="container">
    <div class="mx-auto px-6 pb-2 pt-4 sm:pt-6 lg:px-8 lg:pt-8">
      <div class="mt-16 grid grid-cols-2 gap-6 md:grid-cols-4 xl:mt-0">
        <AssociationGridItem />
        <LegalGridItem />
        <NewsletterGridItem />
      </div>
    </div>
  </div>
</footer>
