---
import { Image } from 'astro:assets'
import logoKulturvereinMuriG端mligen from '../assets/images/logo-kulturverein-muri-g端mligen.svg'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex items-center sm:justify-between">
    <div class="flex flex-1 items-center">
      <a href="/" class="flex items-center space-x-2 pb-2 pt-2">
        <Image
          src={logoKulturvereinMuriG端mligen}
          alt="Kulturverein Muri-G端mligen"
          height="30"
          class="h-7"
        />
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center">
        <ThemeToggle />
      </nav>
    </div>
  </div>
</header>
