---
import { Image } from 'astro:assets'
import { buttonVariants } from '@/components/ui/button'
import logoKulturvereinMuriGümligen from '../assets/images/logo-kulturverein-muri-gümligen.svg'
import logoKulturvereinMuriGümligenDark from '../assets/images/logo-kulturverein-muri-gümligen-dark.svg'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<header
  class="z-60 sticky top-0 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex items-center sm:justify-between">
    <div class="flex flex-1 items-center">
      <a href="/" class="hidden items-center space-x-2 pb-2 pt-2 dark:block">
        <Image
          src={logoKulturvereinMuriGümligenDark}
          alt="Kulturverein Muri-Gümligen"
          height="30"
          class="h-7"
        />
      </a>
      <a href="/" class="flex items-center space-x-2 pb-2 pt-2 dark:hidden">
        <Image
          src={logoKulturvereinMuriGümligen}
          alt="Kulturverein Muri-Gümligen"
          height="30"
          class="h-7"
        />
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-2">
      <nav class="flex items-center">
        <a
          href="/contact"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' }) + '  sm:block hidden'}
        >
          Kontakt
        </a>
        <a
          href="/about"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' }) + ' sm:block hidden'}
        >
          Über uns
        </a>
        <ThemeToggle />
      </nav>
    </div>
  </div>
</header>
