<div class="mt-10">
  <h3 class="text-md/6 font-semibold">Rechtliches</h3>
  <ul role="list" class="mt-6 space-y-3">
    <li>
      <a href="/impressum" class="text-sm/6">Impressum</a>
    </li>
    <li>
      <a href="/privacy-policy" class="text-sm/6">Datenschutzrichtlinie </a>
    </li>
  </ul>
</div>
