<section class="py-16">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
    >
      Lorem ipsum dolor sit !
    </h2>
    <p class="py-5 text-lg text-muted-foreground">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas fuga
      doloribus neque. Distinctio, beatae harum. Deleniti et velit ducimus
      veritatis molestias nam consequuntur laboriosam quisquam, ea delectus
      dignissimos rerum minus!
    </p>
  </div>
</section>
