<div id="mc_embed_signup" class="py-2">
  <form
    action="https://kulturverein-muri.us21.list-manage.com/subscribe/post?u=a17d8e16c78fd214e832127f9&id=fdc4848880&f_id=000d87e6f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
  >
    <div class="grid grid-cols-1 gap-2 text-base md:grid-cols-2">
      <div class="mc-field-group space-y-0">
        <label for="mce-FIRSTNAME" class="sr-only block">First Name </label>
        <input
          type="text"
          name="FIRSTNAME"
          class="w-11/12 min-w-0 rounded-sm bg-white px-3 py-1 text-sm/6 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-600 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600"
          id="mce-FIRSTNAME"
          value=""
          placeholder="Ihr Vorname"
          required
        />
      </div>
      <div class="mc-field-group space-y-0">
        <label for="mce-LASTNAME" class="sr-only block">Last Name </label>
        <input
          type="text"
          name="LASTNAME"
          class="w-11/12 min-w-0 rounded-sm bg-white px-3 py-1 text-sm/6 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-600 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600"
          id="mce-LASTNAME"
          value=""
          placeholder="Ihr Nachname"
          required
        />
      </div>
      <div class="mc-field-group space-y-0">
        <label for="mce-EMAIL" class="sr-only">Email Address </label>
        <input
          type="email"
          name="EMAIL"
          class="w-11/12 min-w-0 rounded-sm bg-white px-3 py-1 text-sm/6 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-600 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600"
          id="mce-EMAIL"
          value=""
          placeholder="Ihre Email"
          required
        />
      </div>
      <div class="clear space-y-0">
        <input
          type="submit"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="rounded-none bg-orange-700 px-3 py-1 text-sm/6 text-white shadow-sm hover:bg-gray-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
          value="Subscribe"
        />
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input
          type="text"
          name="b_a17d8e16c78fd214e832127f9_fdc4848880"
          tabindex="-1"
          value=""
        />
      </div>
    </div>
  </form>
</div>
<script
  type="text/javascript"
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  ;(function ($) {
    window.fnames = new Array()
    window.ftypes = new Array()
    fnames[1] = 'FIRSTNAME'
    ftypes[1] = 'text'
    fnames[2] = 'LASTNAME'
    ftypes[2] = 'text'
    fnames[0] = 'EMAIL'
    ftypes[0] = 'email'
    fnames[4] = 'PHONE'
    ftypes[4] = 'phone'
    fnames[10] = 'MMERGE10'
    ftypes[10] = 'text'
    fnames[11] = 'MMERGE11'
    ftypes[11] = 'text'
    fnames[12] = 'MMERGE12'
    ftypes[12] = 'text'
  })(jQuery)
  var $mcj = jQuery.noConflict(true)
</script>
