---
import NewsletterSubscriptionForm from './NewsletterSubscriptionForm.astro'
---

<div class="col-span-2 mt-10">
  <h3 class="text-md/6 font-semibold">Abonnieren Sie unseren Newsletter</h3>
  <p class="md-mt-0 col-span-8 mt-6 text-sm/6">
    Aktuelle Informationen zum Programm und Veranstaltungen.
  </p>
  <NewsletterSubscriptionForm />
</div>
