---
import {
  filterPastEvents,
  invertSortEventsByDate,
  sortEventsByDate,
} from '../lib/utils.ts'
import { getCollection } from 'astro:content'
import EventsGrid from './EventsGrid.astro'

const events = await getCollection('events')
const pastEvents = await filterPastEvents(events)
const sortedEvents = await invertSortEventsByDate(pastEvents)
---

<section id="PastEventsSection" class="pt-16">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="text-3xl leading-tight font-extrabold tracking-tighter md:text-4xl"
    >
      Vergangene Anlässe
    </h2>
    <p class="text-md py-5">
      Livemusik und Kultur, die wir gemeinsam erlebt haben.
    </p>
    <div class="py-4">
      <EventsGrid events={sortedEvents} />
    </div>
  </div>
</section>
