---
import EventCard from './EventCard.astro'
---

<section id="Programm" class="py-8 md:py-6">
  <div class="container">
    <h2 class="text-2xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
      Programm 2025
    </h2>
    <p class="py-5 text-lg text-muted-foreground">
      Erleben Sie mit uns Livemusik und Kultur in Ihrer Nähe.
    </p>
    <EventCard
      title="Zia Lisa"
      subtitle="Konzert"
      date="Freitag 12. März 2025"
      location="Muribad"
      prices={[{ category: 'Erwachsene', price: 'Kollekte' }]}
    />
  </div>
</section>
