---
import EventCard from './EventCard.astro'
import { getCollection } from 'astro:content'
const events = await getCollection('events')

const sortedEvents = events.sort((a, b) => {
  return new Date(a.data.date) - new Date(b.data.date)
})
---

<section id="Programm" class="pt-16">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
    >
      Programm
    </h2>
    <p class="text-md py-5">
      Erleben Sie mit uns Livemusik und Kultur in Muri Gümligen.
    </p>
    <div class="grid gap-3 gap-y-4 md:grid-cols-2 lg:grid-cols-3">
      {sortedEvents.map((event) => <EventCard event={event} />)}
    </div>
    <p class="text-md pt-5">
      Hier finden Sie das gesamte
      <a href="/Jahresprogramm-2025.pdf" class="font-bold hover:underline"
        >Programm 2025</a
      > zum Download.
    </p>
  </div>
</section>
