---
import EventCard from './EventCard.astro'
---

<section id="Programm" class="py-16">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
    >
      Programm 2025
    </h2>
    <p class="py-5 text-lg text-muted-foreground">
      Erleben Sie mit uns Livemusik und Kultur in Ihrer Nähe.
    </p>
    <EventCard
      title="Zia Lisa"
      subtitle="Konzert"
      date="Freitag 12. März 2025"
      location="Muribad"
      prices={[{ category: 'Erwachsene', price: 'Kollekte' }]}
    />
  </div>
</section>
