---
import { filterFutureEvents, sortEventsByDate } from '@lib/utils'
import { getCollection } from 'astro:content'
import EventsGrid from './EventsGrid.astro'

const events = await getCollection('events')
const futureEvents = await filterFutureEvents(events)
const sortedEvents = await sortEventsByDate(futureEvents)
---

<section id="Programm" class="pt-16">
  <div class="container mx-auto px-4 md:px-6">
    <h2
      class="text-3xl leading-tight font-extrabold tracking-tighter md:text-4xl"
    >
      Programm
    </h2>
    <p class="text-md py-5">
      Erleben Sie mit uns Livemusik und Kultur in Muri Gümligen.
    </p>
    <EventsGrid events={sortedEvents} />
    <p class="text-md pt-5">
      Hier finden Sie das gesamte
      <a href="/Jahresprogramm-2026.pdf" class="font-bold hover:underline"
        >Programm 2026</a
      > zum Download.
    </p>
  </div>
</section>
