---
import EventCard from './EventCard.astro'
---

<section class="py-8 md:py-6">
  <div class="container mx-auto px-4 md:px-6">
    <div class="flex flex-col items-start gap-2 pt-8">
      <h2 class="text-2xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
        Programm 2025
      </h2>
      <p
        class="text-gray-500 dark:text-gray-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Erleben Sie mit uns Livemusik und Kultur in Ihrer Nähe.
      </p>
      <EventCard />
    </div>
  </div>
</section>
