---
import Button from '@components/Button.astro'
---

<Button variant="ghost" size="icon" id="themeToggle">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="15"
    height="15"
    viewBox="0 0 15 15"
    fill="none"
    stroke="currentColor"
    class="h-5 w-5 dark:hidden"
  >
    <path
      d="M7.5 0C7.77614 0 8 0.223858 8 0.5V2.5C8 2.77614 7.77614 3 7.5 3C7.22386 3 7 2.77614 7 2.5V0.5C7 0.223858 7.22386 0 7.5 0ZM2.1967 2.1967C2.39196 2.00144 2.70854 2.00144 2.90381 2.1967L4.31802 3.61091C4.51328 3.80617 4.51328 4.12276 4.31802 4.31802C4.12276 4.51328 3.80617 4.51328 3.61091 4.31802L2.1967 2.90381C2.00144 2.70854 2.00144 2.39196 2.1967 2.1967ZM12.0962 2.90381C11.9009 2.70854 11.9009 2.39196 12.0962 2.1967C12.2915 2.00144 12.608 2.00144 12.8033 2.1967L14.2175 3.61091C14.4128 3.80617 14.4128 4.12276 14.2175 4.31802C14.0222 4.51328 13.7057 4.51328 13.5104 4.31802L12.0962 2.90381ZM7.5 4C5.567 4 4 5.567 4 7.5C4 9.433 5.567 11 7.5 11C9.433 11 11 9.433 11 7.5C11 5.567 9.433 4 7.5 4ZM3 7.5C3 5.01472 5.01472 3 7.5 3C9.98528 3 12 5.01472 12 7.5C12 9.98528 9.98528 12 7.5 12C5.01472 12 3 9.98528 3 7.5ZM2.1967 12.8033C2.00144 12.608 2.00144 12.2915 2.1967 12.0962L3.61091 10.682C3.80617 10.4867 4.12276 10.4867 4.31802 10.682C4.51328 10.8773 4.51328 11.1938 4.31802 11.3891L2.90381 12.8033C2.70854 12.9986 2.39196 12.9986 2.1967 12.8033ZM12.8033 12.8033C12.608 12.9986 12.2915 12.9986 12.0962 12.8033L10.682 11.3891C10.4867 11.1938 10.4867 10.8773 10.682 10.682C10.8773 10.4867 11.1938 10.4867 11.3891 10.682L12.8033 12.0962C12.9986 12.2915 12.9986 12.608 12.8033 12.8033ZM7.5 12C7.22386 12 7 12.2239 7 12.5V14.5C7 14.7761 7.22386 15 7.5 15C7.77614 15 8 14.7761 8 14.5V12.5C8 12.2239 7.77614 12 7.5 12ZM0.5 8C0.223858 8 0 7.77614 0 7.5C0 7.22386 0.223858 7 0.5 7H2.5C2.77614 7 3 7.22386 3 7.5C3 7.77614 2.77614 8 2.5 8H0.5ZM12.5 8C12.2239 8 12 7.77614 12 7.5C12 7.22386 12.2239 7 12.5 7H14.5C14.7761 7 15 7.22386 15 7.5C15 7.77614 14.7761 8 14.5 8H12.5Z"
      fill="currentColor"></path>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="15"
    height="15"
    viewBox="0 0 15 15"
    fill="none"
    stroke="currentColor"
    class="hidden h-5 w-5 dark:block"
  >
    <path
      d="M12.3536 10.3536C12.5488 10.1583 12.5488 9.84171 12.3536 9.64645C10.6428 7.93562 10.6428 5.16175 12.3536 3.45092C12.5488 3.25566 12.5488 2.93907 12.3536 2.74381C12.1583 2.54854 11.8417 2.54854 11.6464 2.74381C9.54232 4.84794 9.54232 8.25944 11.6464 10.3636C11.8417 10.5588 12.1583 10.5588 12.3536 10.3536ZM2.5 7.55C2.5 10.3399 4.76015 12.6 7.55 12.6C10.3399 12.6 12.6 10.3399 12.6 7.55C12.6 4.76015 10.3399 2.5 7.55 2.5C4.76015 2.5 2.5 4.76015 2.5 7.55Z"
      fill="currentColor"
      fill-rule="evenodd"
      clip-rule="evenodd"></path>
  </svg>
  <span class="sr-only">Toggle theme</span>
</Button>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class'],
    })
  }

  const handleToggleClick = () => {
    const element = document.documentElement
    element.classList.toggle('dark')

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  }

  document
    .getElementById('themeToggle')
    .addEventListener('click', handleToggleClick)
</script>
